.col{
    border: 1px solid;
    border: 1px solid rgba(209, 209, 209,0.2);
    border-collapse: collapse;
    
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo h2{
    font-size: 36px;
    color: #fff;
    padding: 25px;
    font-weight: 600;
}

.nav-logo h2 span{
    color: #ffc515;
}

.nav-ul ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    list-style: none;
}

.nav-ul ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.reservation{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation p{
    color: #fff;
    font-size: 16px;
}
.reservation p span{
    color: #ffc515;
}